@media (min-width: 300px) and (max-width: 900px) {
    @import url(https://fonts.googleapis.com/css?family=Raleway);
    .navbar{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .main-div-images{
        display: flex;
        flex-wrap: wrap;
    }
    .div-in-navbar{
        display: none !important;
    }
    .home{
        display: none;
    }
    .svg{
        margin-left: -5em;
    }
    .main-div-images{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-mount-ulap{
        height: 14em !important;
        width: 20em !important;
    }
    .div-image-mount-ulap{
        margin-left: 1em !important;
        margin-right: 2em !important;
        height: 35em !important;
    }
    .txt-descrition{
        font-size: 20px !important;
        margin-left: 2em !important;
        margin-right: 2em !important;
        margin-top: 0px !important;
    }
    .title-mount-ulap{
        font-size: 25px !important;
    }
    .submitted-text{
        font-size: 20px !important;
        margin-left: 2em !important;
    }
    .img-map{
        position: relative;
        margin-top: 34em !important;
        margin-left: 4em !important;
        margin-right: 1em !important;
        width: 15em !important;
    }
    .comments-box{
        margin-left: 1em !important;
        margin-right:-3em !important;
        width: 25em !important;
        position: absolute;
        margin-top: -60em !important;
    }
    .btn-comments{
        margin-left: 1em !important;
    }
    .final{
        margin-top: 40px !important;
        margin-left: 20px !important;
    }
    .label{
        display: block !important;
    }
    label .menu {
        position: absolute !important;
        left: 90% !important;
        top: -100px !important;
        z-index: 100 !important;
        width: 20px !important;
        height: 200px !important;
        background: #FFF !important;
        border-radius: 50% 50% 50% 50% !important;
        -webkit-transition: .5s ease-in-out !important;
        transition: .5s ease-in-out !important;
        box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF !important;
        cursor: pointer !important;
        
      }
      
      label .hamburger {
        position: absolute !important;
        top: 135px !important;
        left: 0px !important;
        width: 30px !important;
        height: 2px !important;
        background: #000000 !important;
        display: block !important;
        -webkit-transform-origin: center !important;
        transform-origin: center !important;
        -webkit-transition: .5s ease-in-out !important;
        transition: .5s ease-in-out !important;
      }
      
      label .hamburger:after, label .hamburger:before {
        -webkit-transition: .5s ease-in-out !important;
        transition: .5s ease-in-out !important;
        content: "" !important;
        position: absolute !important;
        display: block !important;
        width: 100% !important;
        height: 100% !important;
        background: #000000 !important;
      }
      
      label .hamburger:before { top: 10px; }
      
      label .hamburger:after { bottom: 10px; }
      
      label input { display: none; }
      
      label input:checked + .menu {
        box-shadow: 0 0 0 0vw #FFF, 0 0 0 50vh #FFF !important;
        border-radius: 0px !important;
        
      }
      
      label input:checked + .menu .hamburger {
        -webkit-transform: rotate(45deg) !important;
        transform: rotate(45deg) !important;
        
      }
      
      label input:checked + .menu .hamburger:after {
        -webkit-transform: rotate(90deg) !important;
        transform: rotate(90deg) !important;
        bottom: 0 !important;
        
      }
      
      label input:checked + .menu .hamburger:before {
        -webkit-transform: rotate(90deg) !important;
        transform: rotate(90deg) !important;
        top: 0 !important;
        
      }
      
      label input:checked + .menu + ul { opacity: 1 !important; }
      
      label ul {
        z-index: 200 !important;
        position: absolute !important;
        top: 20% !important;
        left: 50% !important;
        -webkit-transform: translate(-50%, -50%) !important;
        transform: translate(-50%, -50%) !important;
        opacity: 0 !important;
        -webkit-transition: .25s 0s ease-in-out !important;
        transition: .25s 0s ease-in-out !important;
      }
      
      label a {
        font-size: 2em !important;
        list-style: none !important;
        margin-bottom: 1em !important;
        display: block !important;
        color: #a7a7a7 !important;
        text-decoration: none !important;
      }
      .botao{
        padding: 20px;
    }
      
}